// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.mainContainer {
	background-color: #000;
	max-width: 950px;
	min-width: 550px;
	margin: auto;
	margin-top: 40px;
	height: auto;

}


a:link {
	color: #0080FF;
}

td {
	padding-right: 10px;
}

select {
	display: block;
}